<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRemoteControl" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.178.32:8080/FollowMe" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRemoteControl" contract="IRemoteControl"
                name="BasicHttpBinding_IRemoteControl" />
        </client>
    </system.serviceModel>
</configuration>